doctype html
html(lang="tr")
    include ../partials/head
    block meta
        -
            var description = "Ben Doğan, yazılım mühendisiyim. Genel olarak yazılım, detayda ise web geliştirme, önyüz geliştirme, Node.js, Python vb. konularda düşüncelerimi paylaşmaya çalışıyorum."
        meta(name="description" content=description)

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=title)
        meta(name="twitter:creator" content="Doğan Öztürk")
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=description)
        meta(name="twitter:image" content="https://doganozturk.dev/public/images/avatar.jpg")

        meta(property="og:title" content=title)
        meta(property="og:type" content="article")
        meta(property="og:url" content="https://doganozturk.dev/")
        meta(property="og:image" content="https://doganozturk.dev/public/images/avatar.jpg")
        meta(property="og:description" content=description)
        meta(property="og:site_name" content="doganozturk.dev")
    block styles
        style
            include:clean-css ../components/header/header.css
            include:clean-css ../components/theme-switcher/theme-switcher.css
            include:clean-css ../components/post-summary/post-summary.css
            include:clean-css ../components/footer/footer.css
    body
        .container
            include ../components/header/header
            main.main
                | !{ content }
            include ../components/footer/footer

            script
                include ../../node_modules/lozad/dist/lozad.min.js
                include:uglify-js:babel ../../js/init-lazyload.js
                include:uglify-js:babel ../../js/init-theme-controls.js
                include:uglify-js:babel ../../js/init-service-worker.js
