doctype html
html(lang="tr")
    include ../partials/head
    block meta
        meta(name="description" content=description)

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="Doğan Öztürk | Blog")
        meta(name="twitter:creator" content="Doğan Öztürk")
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=description)
        meta(name="twitter:image" content="https://doganozturk.dev/public/images/avatar.jpg")

        meta(property="og:title" content=title)
        meta(property="og:type" content="article")
        meta(property="og:url" content="https://doganozturk.dev" + permalink)
        meta(property="og:image" content="https://doganozturk.dev/public/images/avatar.jpg")
        meta(property="og:description" content=description)
        meta(property="og:site_name" content="doganozturk.dev")
    block styles
        style
            include:clean-css ../../css/reset.css
            include:clean-css ../../css/styles.css
            include:clean-css ../../css/highlight/monokai-sublime.css
    body
        .container
            include ../partials/header
            main.post.markdown-body
                | !{ content }
            include ../partials/footer

            script
                include ../../js/highlight/highlight.pack.js
                include:uglify-js:babel ../../js/init-highlight.js
                include:uglify-js:babel ../../js/init-theme-controls.js
                include:uglify-js:babel ../../js/init-service-worker.js
