extends ./base

block append meta
    meta(name="description" content=description)

    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="Doğan Öztürk | Blog")
    meta(name="twitter:creator" content="Doğan Öztürk")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content="https://doganozturk.dev/public/images/avatar.jpg")

    meta(property="og:title" content=title)
    meta(property="og:type" content="article")
    meta(property="og:url" content="https://doganozturk.dev" + permalink)
    meta(property="og:image" content="https://doganozturk.dev/public/images/avatar.jpg")
    meta(property="og:description" content=description)
    meta(property="og:site_name" content="doganozturk.dev")

block append styles
    link(href="https://storage.googleapis.com" rel="preconnect")
    style
        include ../../css/prism/prism-vsc-dark-plus.css
        include:clean-css ../components/header/header.css
        include:clean-css ../components/theme-switcher/theme-switcher.css
        include:clean-css ../components/post/post.css
        include:clean-css ../components/footer/footer.css

block content
    body
        .container
            include ../components/header/header
            article.post
                | !{ content }
            include ../components/footer/footer

            script
                include ../../node_modules/lozad/dist/lozad.min.js
                include:uglify-js:babel ../../js/init-lazyload.js
                include:uglify-js:babel ../../js/init-theme-controls.js
                include:uglify-js:babel ../../js/init-service-worker.js
